{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="POST" class="vh-80 w-50 border border-dark rounded-2">
        {% csrf_token %}
        <div class="col-sm-6 col-md-8 p-2 mx-3">
            <label class="form-label">email</label>
            <input type="email" class="form-control" placeholder="Example : abc@gmail.com" name="email" required>
        </div>
        <div class="col-sm-6 col-md-8 p-2 mx-3">
            <label class="form-label">password</label>
            <input type="text" class="form-control" type="password" name="password" required>
        </div>
        <div class="col-sm-6 col-md-8 p-2 mx-3">
            <label class="form-label">Confirm_password</label>
            <input type="text" class="form-control" type="password" name="confirm_password" required>
        </div>
        <div class="p-2 mx-3">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>
</div>
{% endblock %}
